{% extends 'base.html' %}

{% block title%}Add department{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Department</h2>
    <div class="add-employee">
        <form action="/create/new/department" method = "POST">
            <p>Department</p>
            <input type="text" placeholder="Name" name="name" class="edit"> <br>
            <p>Manager</p>
            <input type="text" placeholder="Surname" name="manager" class="edit"> <br>
            <p>Date of creation</p>
            <input type="date" name="date_of_creation" class="edit">
            <br>
            <a class="my_button" href="/manage/department">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
        </form>
    </div>
</div>
{% endblock %}