{% extends 'base.html' %}

{% block title%}Add skill{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Skill</h2>
    <div class="add-employee">
        <form action="/create/new/skill" method = "POST">
            <p>Skill</p>
            <input type="text" placeholder="Skill" name="name" class="edit"> <br>
            <a class="my_button" href="/add/employee">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
        </form>
    </div>
</div>
{% endblock %}