<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Manage employees</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="navbar">
                <a href="/employee/1">My Profile</a>
                <a href="/departments">Departments</a>
                <a href="/employee/search">People Search</a>
                <div class="dropdown">
                <button class="dropbtn">Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/manage/department">Departments</a>
                    <a href="/manage/employee">Employees</a>
                </div>
                </div>
                <!-- Right-aligned links -->
                <div class="topnav-right">
                    <a href="login.html">Logout</a>
                </div>
            </div>

            <div class="bg-add-employe">
                <h2>Create Permission</h2>
                <div class="add-employee">
                    <form action="/create/new/permission" method = "POST">
                        <p>Permission</p>
                        <input type="text" placeholder="Permission" name="name" class="edit"> <br>
                        <a class="my_button" href="/add/permission">Cancle</a>
                        <button type="submit" class="my_button"><i class="save"></i>Save</button>
                    </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>