{% extends 'base.html' %}

{% block title%}Add permission{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Permission</h2>
    <div class="add-employee">
        <form action="/create/new/permission" method = "POST">
            <p>Permission</p>
            <input type="text" placeholder="Permission" name="name" class="edit"> <br>
            <a class="my_button" href="/add/permission">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
        </form>
    </div>
</div>
{% endblock %}