{% extends 'base.html' %}

{% block title%}Add location{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Location</h2>
    <div class="add-employee">
        <form action="/create/new/location" method = "POST">
            <p>Location</p>
            <input type="text" placeholder="Location" name="name" class="edit"> <br>
            <a class="my_button" href="/add/location">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
        </form>
    </div>
</div>
{% endblock %}