{% extends 'base.html' %}

{% block title%}Add employee{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Employee</h2>
    <form method = "POST">
        <div class="add-employee">
            <p>{{ form.name.label }}</p>
                {{ form.name(class="edit") }}
            <p>{{ form.surname.label }}</p>
                {{ form.surname(class="edit") }}
            <p>{{ form.department.label }}</p>
                {{ form.department(class="edit") }}
            <a href="/add/department">New</a> <br>
            <p> {{ form.date_of_birth.label }}</p>
                {{ form.date_of_birth(class="edit") }}
            <p> {{ form.salary.label }}</p>
                {{ form.salary(class="edit") }}
            <br>
            <p> {{ form.phone.label }}</p>
                {{ form.phone(class="edit") }}
            <br>
            <a class="my_button" href="/manage/employee">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
            <p> </p>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                    <br>
                </small>
            {% endfor %}
        </div>
        <div class="add-employee">
            <p> {{ form.email.label }}</p>
                {{ form.email(class="edit") }}
            <p>{{ form.location.label }}</p>
                {{ form.location(class="edit") }}
            <a href="/add/location">New</a> <br>
            <p> {{ form.work_address.label }}</p>
                {{ form.work_address(class="edit") }}
            <a href="/add/address">New</a> <br>
            <p>{{ form.key_skill.label }}</p>
                {{ form.key_skill(class="edit") }}
            <a href="/add/skill">New</a> <br>
            <p> {{ form.date_of_joining.label }}</p>
                {{ form.date_of_joining(class="edit") }}
            <p>{{ form.permission.label }}</p>
                {{ form.permission(class="edit") }}
            <a href="/add/permission">New</a> <br>
        </div>
    </form>
</div>
{% endblock %}