{% extends 'base.html' %}

{% block title%}Add address{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Create Address</h2>
    <div class="add-employee">
        <form action="/create/new/address" method = "POST">
            <p>Address</p>
            <input type="text" placeholder="Address" name="name" class="edit"> <br>
            <a class="my_button" href="/add/address">Cancle</a>
            <button type="submit" class="my_button"><i class="save"></i>Save</button>
        </form>
    </div>
</div>
{% endblock %}