{% extends 'base.html' %}

{% block title%}
{% if department_data %}
    {{department_data.name}}
{% else %}
    Department
{% endif %}
{% endblock %}

{% block content %}
<div class="profile-background">
    <div class="profile-right">
        {% if department_data %}
            <h3>{{department_data.name}}</h3>
            <br>
            <h3>TOTAL EMPLOYEES: {{department_data.emp_count}}</h3>
            <h4>Date of creation: {{department_data.date_of_creation}}</h4>
        {% else %}
            <p>No information about this department</p>
        {% endif %}
    </div>
</div>
<div class="profile-line"></div>
<div class="prof-info-cont-u">
    <ul>
        {% if employees_data %}
            {% for employee in employees_data %}
                {% if employee.department_id == department_data.department_id%}
                    <li>
                        <div class="user">
                            <div class="user-info-image">
                                <img src="../static/img/image1.jpg" width="150" height="150" class="image" id="img">
                            </div>
                            <div class="user-info">
                                <p>{{employee.name}} {{employee.surname}}</p>
                                <p>{{employee.key_skill}}</p>
                                <p>{{employee.location}} {{employee.work_address}}</p>
                                <p>{{employee.email}}</p>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>No employees in this department</p>
                    <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No employees in this department</p>
            <br>
        {% endif %}
    </ul>
</div>
{% endblock %}