{% extends 'base.html' %}

{% block title%}Departments{% endblock %}

{% block content %}
<div class="search-panel">
    <div class="search-center">
        <input type="text" placeholder="Search department" name="search" class="searchhh">
        <button type="submit" class="my_button"><i class="search"  ></i>Search</button>
    </div>
</div>
<div class="profile-line">

</div>
<div class="prof-info-cont-u">
    <ul>
        {% if departments_data %}
            {% for department in departments_data %}
            <li>
                <div class="department">
                    <div class="department-info-image">
                        <img src="static/img/image1.jpg" width="150" height="150" class="image" id="img">
                    </div>
                    <div class="department-info">
                        <p><a href="/department/{{department.dep_id}}">{{ department.name }}</a></p>
                        <p>Total employees {{ department.emp_count }}</p>
                        <p>Manager {{ department.manager }}</p>
                        <br>
                    </div>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <p>No departments here!</p>
            <br>
        {% endif %}
    </ul>
</div>
</div>
{% endblock %}