<form action="/create/employee" method = "POST">
    <p>Name <input type = "text" name = "name" value="ddddddddddddd"/></p>
    <p>Surname <input type = "text" name = "surname" /></p>
    <p>Date_of_birth <input type = "text" name = "date_of_birth" /></p>
    <p>Salary <input type = "number" name = "salary" /></p>
    <p>Email <input type = "text" name = "email" /></p>
    <p>Phone <input type = "text" name = "phone" /></p>
    <p>Date of joining <input type = "text" name = "date_of_joining" /></p>
    <p>Department <input type = "text" name = "department" /></p>
    <p>Location <input type = "text" name = "location" /></p>
    <p>Work address <input type = "text" name = "work_address" /></p>
    <p>Key skill <input type = "text" name = "key_skill" /></p>
    <p>Permission <input type = "text" name = "permission" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>