{% extends 'base.html' %}

{% block title%}Manage departments{% endblock %}

{% block content %}
<div class="filters"><p>MANAGE DEPARTMENTS</p></div>
<div>
    <br>
    <a class="my_button" href="/add/department">Add Department</a>
</div>
<div class="table_dark_department">
    {% if departments_data %}
        <table>
            <thead><tr><th>Department</th><th>Manager</th><th>Total Employees</th><th>Date of creation</th><th>Avg salary</th><th>Action</th></tr></thead>
                {% for department in departments_data%}
                    <tr><td>{{department.name}}</td><td>{{department.manager}}</td><td>{{department.emp_count}}</td><td>{{department.date_of_creation}}</td><td>{%if department.emp_count == 0%} 0 {%else%} {{department.dep_salary / department.emp_count}}{%endif%}</td><td><a href="/update/department/{{department.dep_id}}">Edit</a> | <a href="/department/{{department.dep_id}}">View</a></td></tr>
                {% endfor %}
        </table>
    {% else %}
        <br>
        <p>No departments here!</p>
        <br>
    {% endif %}
</div>
<div class="pagination">
    <span class="footer_part-span">Page <span class="first">1</span> of <span class="second">1</span></span>
</div>
{% endblock %}