{% extends 'base.html' %}

{% block title%}Add location{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Update Department</h2>
    <div class="add-employee">
        {% if department_data %}
            <form method = "POST">
                <p>{{ form.name.label }}</p>
                    {{ form.name(class="edit", value=department_data.name) }}
                <p>{{ form.manager.label }}</p>
                    {{ form.manager(class="edit", value=department_data.manager) }}
                <p>{{ form.date_of_creation.label }}</p>
                    {{ form.date_of_creation(class="edit", value=department_data.date_of_creation) }}
                <br>
                <a class="my_button" href="/manage/department">Cancle</a>
                <button type="submit" class="my_button"><i class="save"></i>Save</button>
                <p> </p>
                {% for field, errors in form.errors.items() %}
                    <small class="form-text text-muted ">
                        {{ ', '.join(errors) }}
                        <br>
                    </small>
                {% endfor %}
            </form>
        {% else %}
            <p>Ops something going wrong...</p>
        {% endif %}
    </div>
</div>
{% endblock %}