{% extends 'base.html' %}

{% block title%}Add location{% endblock %}

{% block content %}
<div class="bg-add-employe">
    <h2>Update Employee</h2>
    {% if employee_data %}
        <form action="/update/employee/data/{{employee_data.emp_id}}" method="POST">
            <div class="add-employee">
                <p>Name</p>
                <input type="text" placeholder="Name" name="name" class="edit" value="{{employee_data.name}}"> <br>
                <p>Surname</p>
                <input type="text" placeholder="Surname" name="surname" class="edit" value="{{employee_data.surname}}"> <br>
                <p>Department</p>
                <select class="select-css" name="department">
                    <option value="{{employee_data.department_id}}" selected hidden>{{employee_data.department}}</option>
                    {% for department in departments_data%}
                        <option value="{{department.dep_id}}">{{department.name}}</option>
                    {% endfor%}
                </select>
                <a href="/add/department">New</a> <br>
                <p>Date of Birth</p>
                <input type="date" name="date_of_birth" class="edit" required value="{{employee_data.date_of_birth}}">
                <p>Salary</p>
                <input type="text" placeholder="Salary" name="salary" class="edit" value="{{employee_data.salary}}"> <br>
                <p>Work phone</p>
                <input type="text" placeholder="Work phone" name="phone" class="edit" value="{{employee_data.phone}}"><br>
                <br>
                <a class="my_button" href="/manage/employee">Cancle</a>
                <button type="submit" class="my_button"><i class="save"></i>Save</button>
            </div>
            <div class="add-employee">
                <p>Email</p>
                <input type="email" placeholder="Email" name="email" class="edit" value="{{employee_data.email}}"> <br>
                <p>Location</p>
                <select class="select-css" name="location">
                    <option value="{{employee_data.location_id}}" selected hidden>{{employee_data.location}}</option>
                    {% for location in locations_data %}
                    <option value="{{location.location_id}}">{{location.name}}</option>
                    {% endfor%}
                </select>
                <a href="/add/location">New</a> <br>
                <p>Work address</p>
                <select class="select-css" name="work_address">
                    <option value="{{employee_data.address_id}}" selected hidden>{{employee_data.work_address}}</option>
                    {% for address in addresses_data %}
                        <option value="{{address.address_id}}">{{address.name}}</option>
                    {% endfor %}
                </select>
                <a href="/add/address">New</a> <br>
                <p>Key skill</p>
                <select class="select-css" name="key_skill">
                    <option value="{{employee_data.skill_id}}" selected hidden>{{employee_data.key_skill}}</option>
                    {% for skill in skills_data %}
                        <option value="{{skill.skill_id}}">{{skill.name}}</option>
                    {% endfor%}
                </select>
                <a href="/add/skill">New</a> <br>
                <p>Date of joining</p>
                <input type="date" name="date_of_joining" class="edit" value="{{employee_data.date_of_joining}}">
                <p>Permission</p>
                <select class="select-css" name="permission">
                    <option value="{{employee_data.permission_id}}" selected hidden>{{employee_data.permission}}</option>
                    {% for permission in permissions_data %}
                        <option value="{{permission.permission_id}}">{{permission.name}}</option>
                    {% endfor%}
                </select>
                <a href="/add/permission">New</a> <br>
            </div>
        </form>
    {% else %}
        <div class="add-employee">
            <p>Ops something going wrong...</p>
        </div>
    {% endif %}
</div>
{% endblock %}