<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>Manage employees</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="navbar">
                <a href="/employee/1">My Profile</a>
                <a href="/departments">Departments</a>
                <a href="/employee/search">People Search</a>
                <div class="dropdown">
                <button class="dropbtn">Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/manage/department">Departments</a>
                    <a href="/manage/employee">Employees</a>
                </div>
                </div>
<!--                <div class="topnav-right">-->
                <div class="topnav-right">
                    <a href="/logout">Logout</a>
                </div>
            </div>

            <div class="bg-add-employe">
                <h2>Update Department</h2>
                <div class="add-employee">
                    <form method = "POST">
                        <p>{{ form.name.label }}</p>
                        {{ form.name(class="edit", value=department_data.name) }}
                        <p>{{ form.manager.label }}</p>
                        {{ form.manager(class="edit", value=department_data.manager) }}
                        <p>{{ form.date_of_creation.label }}</p>
                        {{ form.date_of_creation(class="edit", value=department_data.date_of_creation) }}
                        <br>
                        <a class="my_button" href="/manage/department">Cancle</a>
                        <button type="submit" class="my_button"><i class="save"></i>Save</button>
                        <p> </p>
                        {% for field, errors in form.errors.items() %}
                        <small class="form-text text-muted ">
                            {{ ', '.join(errors) }}
                            <br>
                        </small>
                        {% endfor %}
                    </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>